In [1]:
%load_ext sql
%sql mysql://root:2942123@localhost/game_db

1) Player Behavior Analysis: Identify the five most commonly used combinations of first, second, and third items in player inventories during quests. Utilize CTEs and subqueries to extract this data.

In [2]:
%%sql
-- Identify the five most commonly used combinations of items in player inventories during quests
WITH ItemCombinations AS (
  SELECT
    i1.item_id AS first_item,
    i2.item_id AS second_item,
    i3.item_id AS third_item,
    COUNT(*) AS combination_count
  FROM inventory i1
  JOIN inventory i2 ON i1.character_id = i2.character_id
  JOIN inventory i3 ON i2.character_id = i3.character_id
  WHERE i1.item_id < i2.item_id AND i2.item_id < i3.item_id -- Ensure distinct combinations
  GROUP BY first_item, second_item, third_item
  ORDER BY combination_count DESC
  LIMIT 5
)
SELECT
  c.combination_count,
  i1.name AS first_item_name,
  i2.name AS second_item_name,
  i3.name AS third_item_name
FROM ItemCombinations c
JOIN item i1 ON c.first_item = i1.item_id
JOIN item i2 ON c.second_item = i2.item_id
JOIN item i3 ON c.third_item = i3.item_id;

 * mysql://root:***@localhost/game_db
5 rows affected.

[(3, 'Flask of Infinite Courage', 'Maul of the Frost Giant', 'Girdle of Strength'),
 (3, "Dragon''s Breath Bow", 'Potion of Dire Strength', 'Rune-etched Crossbow'),
 (3, 'Runic Vestments', 'Scroll of the Phoenix', 'Rune-etched Crossbow'),
 (3, 'Elixir of the Moon', 'Blood-soaked Bracers', 'Robe of the Sage'),
 (3, "Serpent''s Fang Saber", 'Elixir of the Moon', 'Sacred Feather Talisman')]

2) Economy: Top Traded Items - Identify which items are most commonly traded or sold in-game, providing insight into what is considered valuable by the community.

In [3]:
%%sql
-- Identify the most commonly traded or sold items
SELECT
  i.item_id,
  i.name AS item_name,
  COUNT(*) AS trade_count
FROM inventory inv
JOIN item i ON inv.item_id = i.item_id
GROUP BY i.item_id, i.name
ORDER BY trade_count DESC
LIMIT 5;

 * mysql://root:***@localhost/game_db
5 rows affected.

[(303, 'Rune-etched Crossbow', 21),
 (233, 'Blood-soaked Bracers', 18),
 (272, 'Girdle of Strength', 17),
 (282, 'Ring of Arcane Mastery', 17),
 (278, 'Staff of Tranquility', 17)]

3) Quests: Quest Rewards Analysis - Determine the average value of rewards from different quests to see which ones are most economically beneficial for players.

In [4]:
%%sql
-- Determine the average value of rewards from different quests
SELECT
  q.quest_id,
  q.name AS quest_name,
  AVG(q.experience_points) AS avg_reward_value
FROM quest q
GROUP BY q.quest_id, q.name
ORDER BY avg_reward_value DESC
LIMIT 20;

 * mysql://root:***@localhost/game_db
20 rows affected.

[(309, 'uaspuxen', Decimal('998.0000')),
 (20, 'iflapl', Decimal('997.0000')),
 (13, 'hjo', Decimal('994.0000')),
 (261, 'yheudrutz', Decimal('993.0000')),
 (123, 'oimhigri', Decimal('987.0000')),
 (150, 'sluclad', Decimal('970.0000')),
 (332, 'fhaxo', Decimal('965.0000')),
 (335, 'eeglisa', Decimal('957.0000')),
 (195, 'nxiskuzz', Decimal('954.0000')),
 (36, 'cripleslosw', Decimal('954.0000')),
 (28, 'smaukcogf', Decimal('951.0000')),
 (23, 'naew', Decimal('949.0000')),
 (84, 'smefwao', Decimal('947.0000')),
 (149, 'snaahz', Decimal('946.0000')),
 (205, 'irvuk', Decimal('946.0000')),
 (102, 'driecre', Decimal('945.0000')),
 (110, 'oskou', Decimal('945.0000')),
 (218, 'dmupqiad', Decimal('941.0000')),
 (250, 'apleg', Decimal('937.0000')),
 (12, 'croi', Decimal('928.0000'))]

4) Players: Time of Play - Find out what times of day are the most popular for playing.

In [6]:
%%sql
-- Collect timestamps from different player activities and see what time are the players the most active
SELECT
	HOUR(timestamp) AS hour_of_day,
  COUNT(*) AS player_activity_count
FROM (
  SELECT timestamp FROM character_guild
  UNION ALL
  SELECT timestamp FROM character_team
  UNION ALL
  SELECT timestamp FROM character_npc
  UNION ALL
  SELECT timestamp FROM character_enemy
) AS player_activities
GROUP BY hour_of_day
ORDER BY player_activity_count DESC;

 * mysql://root:***@localhost/game_db
24 rows affected.

[(19, 801),
 (1, 794),
 (16, 790),
 (13, 784),
 (2, 756),
 (10, 753),
 (7, 751),
 (9, 748),
 (21, 747),
 (5, 743),
 (8, 738),
 (3, 737),
 (14, 736),
 (17, 731),
 (20, 722),
 (15, 720),
 (12, 718),
 (0, 717),
 (4, 717),
 (6, 714),
 (18, 713),
 (22, 706),
 (23, 702),
 (11, 639)]

5) Quests: High Dropout Rates - Find quests with a high start but low completion rate, which might indicate they are too difficult or not engaging.

In [8]:
%%sql
-- Find quests with high dropout rates
WITH QuestDropoutRates AS (
  SELECT
    q.quest_id,
    q.name AS quest_name,
    COUNT(CASE WHEN nqs.value = 'Gave Quest' THEN 1 ELSE NULL END) AS gave_quest_count,
    COUNT(CASE WHEN nqc.value = 'Completed Quest' THEN 1 ELSE NULL END) AS completed_count
  FROM quest q
  LEFT JOIN npc_quest nqs ON q.quest_id = nqs.quest_id
  LEFT JOIN npc_quest nqc ON q.quest_id = nqc.quest_id
  GROUP BY q.quest_id, q.name
)
SELECT
  qdr.quest_name,
  qdr.gave_quest_count,
  qdr.completed_count,
  (qdr.gave_quest_count - qdr.completed_count) AS dropout_count,
  (qdr.gave_quest_count - qdr.completed_count) * 100.0 / NULLIF(qdr.gave_quest_count, 0) AS dropout_percentage
FROM QuestDropoutRates qdr
WHERE (qdr.gave_quest_count - qdr.completed_count) > 0
ORDER BY dropout_percentage DESC
LIMIT 20;

 * mysql://root:***@localhost/game_db
20 rows affected.

[('iayapr', 56, 8, 48, Decimal('85.71429')),
 ('tehoulug', 168, 28, 140, Decimal('83.33333')),
 ('crusmugroi', 285, 76, 209, Decimal('73.33333')),
 ('otoosme', 130, 39, 91, Decimal('70.00000')),
 ('eeglisa', 130, 39, 91, Decimal('70.00000')),
 ('gxarpa', 108, 36, 72, Decimal('66.66667')),
 ('rav', 108, 36, 72, Decimal('66.66667')),
 ('naswasm', 108, 36, 72, Decimal('66.66667')),
 ('eblafru', 88, 33, 55, Decimal('62.50000')),
 ('bribr', 88, 33, 55, Decimal('62.50000')),
 ('ismazfest', 234, 90, 144, Decimal('61.53846')),
 ('xjizisnum', 140, 56, 84, Decimal('60.00000')),
 ('swuid', 1026, 418, 608, Decimal('59.25926')),
 ('ahm', 70, 30, 40, Decimal('57.14286')),
 ('bloclom', 70, 30, 40, Decimal('57.14286')),
 ('umje', 117, 52, 65, Decimal('55.55556')),
 ('iglor', 704, 320, 384, Decimal('54.54545')),
 ('snapkafruz', 54, 27, 27, Decimal('50.00000')),
 ('yna', 384, 192, 192, Decimal('50.00000')),
 ('ewj', 96, 48, 48, Decimal('50.00000'))]